<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="admin-dashboard">
        <h1>Admin Dashboard</h1>
        <div class="company-cards">
            {% for company in companies %}
            <div class="company-card">
                <h2>{{ company.name }}</h2>
                <p>Approved: {% if company.approved %}Yes{% else %}No{% endif %}</p>
                <form action="/approve_company" method="POST">
                    <input type="hidden" name="company_id" value="{{ company.id }}">
                    <button type="submit" {% if company.approved %}disabled{% endif %}>
                        {% if company.approved %}Approved{% else %}Approve{% endif %}
                    </button>
                </form>

            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>